h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: perspective(200px) translate3D(50%, 100px, 100px);
}

