*{
  box-sizing: border-box;
}

.wrapper{
  position:relative;
  width: 200px;
  height: 200px;
  border: 2px dashed red;
  margin: 0 auto;
}

.inner{
  position: absolute;
  width: 200px;
  height: 200px;
}

.box1{
  border: 1px solid black;
  transform: skew(30deg);
}

.box2{
  border: 2px solid orange;
  transform: skew(-3rad);
}

.box3{
  border: 2px solid green;
  transform: skew(30deg,-30deg);
}
