h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

button{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 16px;
    background-color: #d2d2d2;
    border:0;
    cursor:pointer;
    position:relative;
    overflow: hidden;
}

button span{
    position: relative;
    z-index:2;
    transition: 0.3s color;
}

button:hover{
    color:white;
}

.fill-from-left::before{
    content:'';
    position:absolute;
    background-color: #d27a2e;
    width:100%;
    height:100%;
    top:0;
    left:-100%;
    transition: 0.3s left;
    z-index:1;
}

.fill-from-left:hover::before{
    left:0;
}

.fill-from-right::before{
    content:'';
    position:absolute;
    background-color: #d27a2e;
    width:100%;
    height:100%;
    top:0;
    right:-100%;
    transition: 0.3s right;
    z-index:1;
}

.fill-from-right:hover::before{
    right:0;
}