h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.circular-spinner{
    margin-top: 30px;
    width: 60px;
    height: 60px;
    border: 8px solid rgba(35, 170, 112, 0.667);
    border-top: 8px solid #e91e63;
    border-bottom: 8px solid #e91e63;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from{transform:rotate(0)}
    to{transform: rotate(360deg);}
}

