h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: perspective(200px) scale3D(1,1,2) rotateX(45deg);
}

