*{
  box-sizing: border-box;
}

.transition{
    color:white;
    background-color: red;
    width:100px;
    padding:10px;
    margin:10px;
    transition-property: margin-left;
    transition-duration: 2s;
}

.container:hover .transition{
    margin-left: 500px;
}

.ease{
    transition-timing-function: ease;
}

.ease-in{
    transition-timing-function: ease-in;
}

.ease-out{
    transition-timing-function: ease-out;
}

.ease-in-out{
    transition-timing-function: ease-in-out;
}

.linear{
    transition-timing-function: linear;
}

.step-start{
    transition-timing-function: step-start;
}

.step-end{
    transition-timing-function: step-end;
}

.steps{
    transition-timing-function: steps(2)
}

.steps-start{
    transition-timing-function: steps(10, start)
}

.steps-end{
    transition-timing-function: steps(10, end)
}

.bg-green{
    background-color:green;
}