h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: perspective(200px) rotate3d(1,0,0,45deg);
}

