h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

button{
    width:100px;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 16px;
    border:0;
    cursor:pointer;
    position:relative;
    overflow: hidden;
    border-radius: 0.25rem;
    color:black;
}

.button-first span,
.button-second span{
    position: relative;
    z-index:2;
    transition: color 0.5s;
}

.button-first:hover span,
.button-second:hover span{
    color:white;
}

.button-first::before{
    content:'';
    position:absolute;
    width:0;
    height:0;
    background-color: red;
    border-radius: 50%;
    z-index:1;
    transform: translate(calc(-50% - 1rem), calc(-50% - 1rem));
    transition: width 0.5s, height 0.5s;
}

.button-first:hover::before{
    width:300px;
    height:300px
}

.button-second::before{
    content:'';
    position:absolute;
    width:0;
    height:0;
    bottom:calc(-150px - 1rem);
    right:calc(-150px - 1rem);
    background-color: blue;
    border-radius: 50%;
    z-index:1;
    transition: width 0.5s, height 0.5s;
}

.button-second:hover::before{
    width:300px;
    height:300px
}

